.label {
    height: 24px;
    width: 172px;
}

.label .order-ID-status {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    margin-left: 80%; /* Use numeric value without quotes */
    line-height: normal;
    position: fixed;
    top: 8%; /* Use numeric value without quotes */
    white-space: nowrap;
    text-align: right;
}


/* box1 ****************************************************************************************/


.fonthead1{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 6%;
}
.fonthead2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 6%;
}
.fonthead3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 6%;
}
.fonthead4{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 6%;
}
.fonthead5end{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    line-height: 24px;
    margin-top: 10%;
    margin-left: 5.5%;
    
}
.fonttext1{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}
.fonttext2{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin-top: 1%;
    margin-left: 6.3%;
    margin-right: 5%;
}
.fonttext3{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin-top: 1%;
    margin-left: 6.2%;
    margin-right: 5%;
}
.fonttext1end{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;
    margin-top: 1% ;
    margin-left: 5.5%;
  
}


/* box2 ****************************************************************************************/



.fonttextUpdate{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 120px;
    margin-left: 40px;
    margin-right: 5%;
    
}
.fonttextUpdate2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 120px;
    margin-left: 35px;
    margin-right: 5%;
    
}
.fonttextUpdate3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 5%;
    
}
.fonttextUpdate4{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 5%;
    
}
.fonttextUpdate5{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-top: 120px;
    margin-left: 65px;
  
    
}


.fonttextBoxtowTexthstatus2{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-left: 74%; 
    color: #FF0000;
}

.fonttextBoxtowTexthstatus3{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin-left: 74%; 
    color: #000000;
}

.fonttextBoxtowTexthstatus5{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-left: 440px; 
    color: #FF0000;
}
